@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  /* font-optical-sizing: auto; */
  overflow-x: hidden;
  box-sizing: border-box;
}

#root {
  background: #f3f3f6;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recharts-wrapper .recharts-surface:focus,
.recharts-wrapper .recharts-surface:hover {
  outline: none !important;
}

/* ===== Toast LEFT on Mobile ===== */
@media (max-width: 640px) {
  .Toastify__toast-container--top-center {
    left: 0 !important;
    right: auto !important;
    transform: none !important;
    padding-left: 0px !important;
    padding-right: 10px !important;
  }

  .Toastify__toast {
    margin-left: auto !important;
    margin-right: 0 !important;
    width: calc(100% - 90px);
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 6px;
  }
}



/* STUDENT TABLE PRINT */
@media print {
  body * {
    visibility: hidden;
  }

  #table-print,
  #table-print * {
    visibility: visible;
  }

  #table-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none
  }

  .fixed {
    position: static
  }

  @page {
    size: A4 landscape;
    margin: 8mm;
  }

  body {
    font-size: 10px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}